@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;

}
html,body {
		width: 100%;
		height: 100%;
		background: #e3e9f6;
}
nav{
	position: fixed;
	top: 0;
	left: 0;
	width:270px;
	height:100%;
	background: #11101c;
	color: #fff;
	padding:20px 15px;

}
.logo{
	display:flex;
	font-size: 19px;
	align-items: center;
}
.logo i{
	margin-right: 10px;
	font-size: 20px;
}
.fa-bars{
	position: absolute;
	top: 30px;
	right:20px;
	font-size: 22px;
	cursor:pointer;

}
nav ul{
	margin-top: 30px;
	font-size: 13px;
}
nav li {
	display: flex;
	align-items: center;
	position: relative;
	width:100%;
	height:55px;
	margin: 20px 0;
	padding: 5px 10px;
	list-style: none;
	border-radius: 15px;
	cursor: pointer;
}
nav li i , nav li span{
	margin-right: 20px;
	font-size: 20px;
	justify-content: center;
	width:40px;
	text-align: center;
}

nav li:hover{
	color: #11101c;
	background: #fff;
}

.search{
	display: flex;
	align-items: center;
	position: relative;
	width:100%;
	height:55px;
	margin: 20px 0;
	padding: 5px 10px;
	list-style: none;
	border-radius: 15px;
}
.search .fa-search{
	position: absolute;
	left:20px;
	font-size: 18px;
	color: #fff;
	z-index: 100;
}
.search input{
	position: absolute;
	top: 0;
	left:0;
	width:100%;
	height:100%;
	padding-left: 60px;
	font-size: 20px;
	color: #fff;
	border-radius: 16px;
	outline: none;
	border:none;
	background: #1d1b30;
	z-index: 99;
}
.bottom{
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	height:70px;
	background: #1d1b30;
}

